<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Cache-Control" content="no-cache">
  <title>Document</title>
</head>
<body>
  <h1>ajaxでセレクトボックスの中身変更</h1>
  <button type="button" class="hoge" id="a">動作確認 team A</button>
  <button type="button" class="hoge" id="b">動作確認 team B</button>
  <button type="button" class="hoge" id="c">動作確認 team C</button>
  <button type="button" class="hoge" id="e">動作確認 エラー</button>
  <select disabled="disabled"></select>
  <script src="js/index.js"></script>

  <h1>ajaxで作るテーブル</h1>
  次回、grid jsでテーブル作ろう
</body>
</html>